.projects {
    display: flex;
    justify-content: space-evenly;
    background-color: black;
}

.projects__header {
    font-size: 3em;
    color: red;
}

.projects__card {
    display: flex;
    flex-direction: column;
    max-width: 600px;
    text-align: center;
    padding: 15px;
    margin: 10px;
    box-shadow: 0px 0px 20px 5px grey;
    max-height: 650px;
}

.projects__title {
    font-size: 2em;
}

.projects__image > img {
    max-width: 500px;
}

.projects__desc {
    color: white;
    padding: 10px;
}

.projects__links {
    display: flex;
    justify-content: space-around;
    margin: 10px;
    padding: 10px;
}

.projects .fa-link:before {
    color: white;
}

.projects .fa-github:before {
    color: white;
}
.projects .fa-github:after {
    color: white;
    text-decoration: none;
}
