.home {
    display: flex;
    justify-content: center;
}

.home__header {
    font-size: 4em;
    display: grid;
    height: 100vh;
    margin: 0;
    justify-content: center;
    align-items: center;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
    .home {
        display: flex;
        justify-content: center;
    }

    .home__header {
        font-size: 1em;
        display: grid;
        height: 100vh;
        margin: 0;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
}

@media only screen and (min-width: 1224px) {
    .home {
        display: flex;
        justify-content: center;
    }

    .home__header {
        font-size: 2em;
        display: grid;
        height: 100vh;
        margin: 0;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
}
