.home {
    display: flex;
    justify-content: center;
}

.home__header {
    font-size: 3em;
    display: grid;
    height: 100vh;
    margin: 0;
    justify-content: center;
    align-items: center;
}
