.contactMe {
    height: 100vh;
    background-image: url('../Assets/Backgrounds/mail.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.contactMe__Header {
    font-size: 3em;
}

.contactMe__card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    height: 90vh;
}

.contactMe__options {
    font-size: 2em;
    line-height: 1.5;
    margin: 3px;
}

a:visited {
    color: black;
}

.fa-linkedin {
    color: black;
}

.fa-envelope {
    color: black;
}

@media only screen and (min-device-width: 480px) and (max-device-width: 1024px) {
    .contactMe__Header {
        font-size: 2em;
    }
}
