* {
    margin: 0;
    padding: 0;
    /* height: 100%; */
}

a {
    text-decoration: none;
}

body {
    height: 100%;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}
